///// --- Font using @font-face --- /////

@font-face {
    font-family: 'Avenir Next';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format('opentype');
    src: url(../../assets/Font/Alternative_files/AvenirNextLTPro.ttf) format('truetype'); //second source for browsers that don't support opentype
    font-weight:normal;
    }
    
    @font-face {
    font-family: 'Avenir Next';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format('opentype');
    src: url(../../assets/Font/Alternative_files/AvenirNextLTProBold.ttf) format('truetype');
    font-weight: bold;
    }
    
    @font-face {
    font-family: 'Avenir Next';
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format('opentype');
    src: url(../../assets/Font/Alternative_files/AvenirNextLTProDemi.ttf) format('truetype');
    font-weight: 600;
    }
    
    